<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="conexion" connectionString="Data Source=xe; User ID=C##Admin_restaurantXXI; Password=oracle; " />
  <add name="Bodega.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=localhost:1521/xe;TNS_ADMIN=C:\Users\berna\Oracle\network\admin;PASSWORD=oracle;PERSIST SECURITY INFO=True;USER ID='&quot;C##ADMIN_RESTAURANTXXI&quot;'"
   providerName="Oracle.ManagedDataAccess.Client" />
  <add name="Bodega.Properties.Settings.ConnectionString1" connectionString="DATA SOURCE=localhost:1521/xe;TNS_ADMIN=C:\Users\javie\Oracle\network\admin;PASSWORD=oracle;PERSIST SECURITY INFO=True;USER ID='&quot;C##ADMIN_RESTAURANTXXI&quot;'"
   providerName="Oracle.ManagedDataAccess.Client" />
 </connectionStrings>
	  <runtime>
	     <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	        <dependentAssembly>
	           <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	           <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
	        </dependentAssembly>
	        <dependentAssembly>
	           <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	           <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
	        </dependentAssembly>
	     </assemblyBinding>
	  </runtime>
</configuration>
