@{
    ViewData["Title"] = "prueba";
}

<!DOCTYPE html>
<html>
<head>
    <title>Prueba de Conexión</title>
</head>
<body>
    <h1>Resultado de la Prueba de Conexión:</h1>
    <p>@Model</p>
</body>
</html>
